.container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .slider {
    position: relative;
    width: 180px;
  }
  @media only screen and (min-width: 1280px) {
    .slider {
      width: 240px; /* Adjust the height for smaller screens */
    }
}

  @media only screen and (min-width: 1920px) {
    .slider {
      width: 320px; /* Adjust the height for smaller screens */
    }
}

  
  .sliderTrack,
  .sliderRange,
  .sliderLeftValue,
  .sliderLeftMin,
  .sliderRightValue {
    position: absolute;
  }
  
  .sliderTrack,
  .sliderRange {
    height: 1px;
    max-width: 240px;
  }
  @media only screen and (min-width: 1920px) {
    .sliderRange, 
    .sliderTrack {
      max-width: 320px;
    }
  }
  
  .sliderTrack {
    background-color: #EDE9E5;
    width: 100%;
    z-index: 1;
    height: 2px;
  }
  
  .sliderRange {
    background-color: #242B21;
    z-index: 2;
    height: 2px;
  }
  
  .sliderLeftValue,
  .sliderLeftMin,
  .sliderRightValue {
    color: #09090a;
    font-size: 17px;
    margin-top: 18px;
  }
  
  .sliderLeftValue {
    left: -2px;
    font-weight: 300;
  }

  .sliderLeftMin {
    left: 68px;
    display:flex;
    gap:10px;
  }
  
  .sliderRightValue {
    right: 0px;
    font-weight: 300;
  }
  
  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 180px;
    outline: none;
  }
@media only screen and (min-width: 1280px) {
  .thumb {
    width: 240px; /* Adjust the height for smaller screens */
  }
}

@media only screen and (min-width: 1920px) {
  .thumb {
    width: 320px; /* Adjust the height for smaller screens */
  }
}
  
  .thumbLeft {
    z-index: 3;
  }
  
  .thumbRight {
    z-index: 4;
  }
  
  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #0a0a0a;
    border: none;
    border-radius: 0%;
    box-shadow: 0 0 1px 1px #070707;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }