.custom {
    width: 15px; /* Adjust the width of the dot */
    height: 15px; /* Adjust the height of the dot */
    background-color: #ccc; /* Adjust the background color of the dot */
    border-radius: 50%; /* Make the dot a circle */
    display: inline-block;
    margin: 0 5px; /* Adjust the spacing between dots */
  }

  .custom-dot.slick-active {
    background-color: #333; /* Adjust the background color of the active dot */
  }

  .custom-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px;
    background-color: white; /* Default background color for inactive dots */
    display: inline-block;
    margin: 0 8px;
    margin-top: 30px;
    cursor: pointer;
  }
  
  .active {
    background-color: black; /* Background color for active dot */
    /* You can add additional styling for active dots here */
  }